.show-global {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
}

.show-description {
  padding-right: 20px;
}

.show-link {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
