.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 15px;
}

.card {
  min-width: 200px;
  height: 370px;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px;
  align-items: center;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 3px;
  box-shadow: 2px 2px 4px grey;

  .card-info {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    p {
      height: 60px;
    }
  }

  .card-photo {
    height: 200px;
  }

  .card-row {
    width: 100%;
    height: 50px;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: black;
    &:hover {
      color: grey;
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 800px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
