.navbar-lewagon {
  justify-content: space-around;
  text-align: left;
  background: #F3F3F3;
  justify-content: start;
  //position: fixed;
  width: 100%;
  height: 70px;
  top: 0;
  z-index: 10;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

.avatar {
  width: 70px;
}
