.navbar-lewagon {
  justify-content: space-around;
  text-align: left;
  background: white;
  justify-content: start;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.avatar {
  width: 80px;
}

