.search {
  margin: 20px 100px;
  background-color: $purple;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 80%;
  height: 100px;
  justify-items: center;
  vertical-align:middle;

}